@model IEnumerable<QuanLyGaraOto.Models.PhieuThuTien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Xe.TenChuXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTienThu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Xe.TenChuXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTienThu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPhieuThu }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPhieuThu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPhieuThu })
        </td>
    </tr>
}

</table>
