@model QuanLyGaraOto.Models.Xe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<style>


    body {
        color: white;
        margin: 0;
        padding-top: 0vh;
        padding-left: 0vh;
        background: url("/Content/Image/BG-DSxe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: sans-serif
    }


    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.5);
        padding: 10px 40px;
        margin-top: 10vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }


    h2 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        color: #fafc0d;
    }

    table {
        text-align: center;
    }
</style>

<body>
    <div>

        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-12"> </div>

                <div class="col-md-11 col-sm-9 col-xs-12">
                    <div class="panel panel-default">
                        <Center><h2>Xóa xe</h2></Center>
                        <div class="panel-body col-md-offset-3" style="padding-left:70px;">
                            <div>

                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.HieuXe.TenHieuXe)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.HieuXe.TenHieuXe)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TenChuXe)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TenChuXe)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.DiaChi)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DiaChi)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.DienThoai)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.DienThoai)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TienNo)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TienNo)
                                    </dd>

                                </dl>
                            </div>



                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()


                                <div class="form-inline col-md-offset-1" style="padding-top:20px;padding-left:30px;">


                                    <a href="@Url.Action("Index", "Xes")" class="btn btn-danger">
                                        Quay lại
                                    </a>


                                    <a href="@Url.Action("Index", "Xes", new { id = Model.IDBienSo })" style="padding-left:20px;" class="btn btn-success">Xóa
                                        @*<input type="submit" value="Xóa" class="btn btn-success" />*@
                                    </a>

                                </div>
                            }

                        </div>
                    </div>
                </div>
                </div>
        </dl>
    </div>
</body>
