@model PagedList.IPagedList<QuanLyGaraOto.Models.Xe>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<<<<<<< HEAD

<style>


    body {
        color: white;
        margin: 0;
        padding-top: 0px;
        padding-right: 40px;
        background: url("/Content/Image/BG-DSxe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: sans-serif
    }

    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.5);
        padding: 10px 40px;
        margin-top: 10vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }


    h2 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        color: #fafc0d;
    }

    footer {
        position: unset;
    }

    table {
        text-align: center;
    }

    ::placeholder {
        font-style: italic;
    }
</style>

<body>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-12"> </div>

            <div class="col-md-11 col-sm-9 col-xs-12">
                <div class="panel panel-default">
                    
                        <h1 style="font-family:'Myriad Pro'; text-align:center; color: #fafc0d;">DANH SÁCH XE</h1>
                        <br /><br /><br />
                        @using (Html.BeginForm("Index", "Xes", FormMethod.Get))
                        {
                            <div class="form-inline ">
                                <label>Tìm kiếm theo: </label>
                                <input type="radio" id="customRadio2" name="option" class="custom-control-input" value="BrandName">
                                <label class="custom-control-label" for="customRadio2">Hiệu Xe</label>
                                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control mr-sm-2", @placeholder = "Nhập hiệu xe", id = "txtSearch" })
                                <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Tìm kiếm" />

                                <a href="@Url.Action("Create","Xes")style="padding-right:20px;" >
                                    <button type="button" class="btn btn-success col-md-offset-4">Thêm Xe</button>
                                </a>


                            </div>




                        }
                        <script>
=======
<h1 style="font-family:'Myriad Pro'; text-align:center">DANH SÁCH XE</h1>
<br /><br /><br />
@using (Html.BeginForm("Index", "Xes", FormMethod.Get))
{
    <div class="form-inline my-2 my-lg-0">
        <label>Search Option: </label>
        <input type="radio" id="customRadio2" name="option" class="custom-control-input" value="BrandName">
        <label class="custom-control-label" for="customRadio2">Brand Name</label>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control mr-sm-2", @placeholder = "Find by name", id = "txtSearch" })
        <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Search" />
        <a href="@Url.Action("Create","Xes")" class="btn btn-primary">Create New</a>
    </div>
}
<script>
>>>>>>> 5c89b85e42c251804c49c9c657c0993177889354
    $("#txtSearch").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue","Xes")',
                dataType: "json",
                data: { search: $("#txtSearch").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.TenChuXe, value: item.TenChuXe };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
<<<<<<< HEAD
                        </script>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>
                                            <table class="table  table-bordered ">
                                                <tr>
                                                    <th>
                                                        <Center>Hiệu xe</Center>
                                                    </th>
                                                    <th>
                                                        <Center>Tên chủ xe</Center>
                                                    </th>
                                                    <th>
                                                        <Center>Địa chỉ</Center>
                                                    </th>
                                                    <th>
                                                        <Center>Số Điện Thoại</Center>
                                                    </th>
                                                    <th>
                                                        <Center>Tiền Nợ</Center>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                @if (Model.Count() == 0)
        {
                                        <tr>
                                            <td colspan="3"> Records not found </td>
                                        </tr>
}
else
{
foreach (var item in Model)
{
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HieuXe.TenHieuXe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenChuXe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiaChi)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DienThoai)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TienNo)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details","Xes",new { id = item.IDBienSo })">
                                                    <button class="btn btn-primary glyphicon glyphicon-info-sign"></button>
                                                </a>
                                                <a href="@Url.Action("Edit", "Xes", new { id = item.IDBienSo })">
                                                    <button class="btn btn-warning ">Sửa</button>
                                                </a>

                                                <a href="@Url.Action("Delete", "Xes", new { id = item.IDBienSo })">
                                                    <button class="btn btn-danger ">Xóa</button>
                                                </a>
                                            </td>
                                        </tr>
}
}
=======
</script>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách xe
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().HieuXe.TenHieuXe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().TenChuXe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().DiaChi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().DienThoai)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().TienNo)
                            </th>
                            <th></th>
                        </tr>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="3"> Records not found </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HieuXe.TenHieuXe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenChuXe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DienThoai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TienNo)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.IDBienSo }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.IDBienSo }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.IDBienSo })
                                    </td>
                                </tr>
                            }
                        }
>>>>>>> 5c89b85e42c251804c49c9c657c0993177889354

                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { currentFilter = ViewBag.CurrentFilter, page }))
                </div>


            </div>
        </div>
    </div>
<<<<<<< HEAD

</body>


=======
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { currentFilter = ViewBag.CurrentFilter, page }))
<script>
    $('#txtSearch').on('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
>>>>>>> 5c89b85e42c251804c49c9c657c0993177889354
