<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Phần mềm quản lí gara </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 100px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
                text-align: center;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn:hover {
                color: #8f8c8c;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                color: white;
            }

        html, body {
            margin: 0;
            padding-top: 0vh;
            padding-left: 0vh;
            height: 100%;
        }

        .navbar-brand {
            padding-top: 0px;
        }

            .navbar-brand img {
                height: 50px;
            }

        #body {
            height: 100%;
            padding: 10px;
            /* Height of the footer */
        }

        footer {
            left: 50px;
            position: fixed;
            bottom: 0;
            text-align: left;
            color: black;
        }
        /* NAVIGATION */
        nav {
            width: 100%;
            margin: 0 auto;
            background: black;
            padding: 5px 0;
            box-shadow: 0px 0px 0px #dedede;
        }

            nav ul {
                list-style: none;
            }

                nav ul li {
                    display: inline-block;
                }

                    nav ul li a {
                        display: block;
                        padding: 15px;
                        text-decoration: none;
                        color: white;
                        font-weight: 800;
                        text-transform: uppercase;
                        margin: 0 10px;
                    }

                        nav ul li a,
                        nav ul li a::after,
                        nav ul li a::before {
                            transition: all .5s;
                        }

                            nav ul li a:hover {
                                color: red;
                            }

            /* stroke */
            nav.fill ul li a {
                position: relative;
            }

                nav.fill ul li a:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0;
                    content: '.';
                    color: transparent;
                    background: #aaa;
                    height: 1px;
                    font-style: unset;
                }

            nav.fill ul li a {
                transition: all 2s;
            }

                nav.fill ul li a:after {
                    text-align: left;
                    content: '.';
                    margin: 0;
                    opacity: 0;
                }

                nav.fill ul li a:hover {
                    color: white;
                    z-index: 1;
                }


            nav.fill ul li .closebtn:hover:after {
                color: azure;
            }

            nav.fill ul li a:hover:after {
                z-index: -10;
                animation: fill 1s forwards;
                -webkit-animation: fill 1s forwards;
                -moz-animation: fill 1s forwards;
                opacity: 1;
                width: 100%;
            }

        @@-webkit-keyframes fill {
            0% {
                width: 0%;
                height: 1px;
            }

            50% {
                width: 100%;
                height: 1px;
            }

            100% {
                width: 100%;
                height: 100%;
                background: #333;
            }
        }

        .topnav {
            overflow: hidden;
            background-color: black;
        }

            .topnav a {
                float: left;
                display: block;
                color: white;
                text-align: left;
                text-decoration: none;
                font-size: 17px;
                border-bottom: 3px solid transparent;
            }

                .topnav a:hover {
                    border-bottom: 3px solid #ff0909;
                    padding-right: 100px;
                    width: 200%;
                }

                .topnav a.active {
                    border-bottom: 3px solid red;
                }
       
    </style>
</head>


<body>

    <nav class="fill fixed-top" style="position:fixed; z-index:10">


        <div id="mySidenav" class="sidenav" style="padding-bottom:40px;">

            <Center><a>Quản Lý</a></Center>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div  class="topnav">
                <ul>
                    <li><a href="@Url.Action("Index", "HieuXe")">Hiệu Xe</a></li>
                    <li><a href="@Url.Action("Index", "PhuTungs")">Phụ Tùng</a></li>
                   <li><a href="@Url.Action("TaiKhoan", "TaiKhoans")"> Đăng Xuất</a>
                   </li>
                </ul>
            </div>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
        </div>
        <a class="navbar-brand" href="#">
            <img alt="Wrench" src="~/Content/themes/base/images/wrench_icon-1.png" />
        </a>
        @*<a class="navbar-text" style=" font-family:Helvetica;font-weight:bold;font-size:20px;margin-bottom:40px;">Gara Đại Long </a>*@



        <ul style="font-family:'Myriad Pro'">
            <li style="vertical-align:top;font-family:Helvetica;font-weight:bold;font-size:25px;padding-top:5px;">Gara Đại Long</li>
            <li>@Html.ActionLink("Tiếp nhận xe", "Index", "PhieuTiepNhans")</li>
            <li>@Html.ActionLink("Tìm kiếm xe", "Index", "Xes")</li>
            <li>@Html.ActionLink("Lập phiếu sửa chữa", "Index", "PhieuSuaChuas")</li>
            <li>@Html.ActionLink("Lập phiếu thu tiền", "Index", "PhieuThuTiens")</li>
            <li>@Html.ActionLink("Báo cáo tháng", "Report", "BaoCaoDS")</li>
            @if (Session["LoaiTaiKhoan"].ToString() == "1")
            {
                
                    <li class="nav navbar-nav navbar-right" style="font-weight:bold;padding-top:8px;padding-right:30px;font-size:20px;cursor:pointer" onclick="openNav()">
                        Quản Lý &#9776;
                    </li>
                
            }
            @if(Session["LoaiTaiKhoan"].ToString()=="2")
            {
                <li class="nav navbar-nav navbar-right" style="padding-top:8px;padding-right:30px;font-size:20px;cursor:pointer" onclick="location.href='@Url.Action("TaiKhoan","TaiKhoans")'">
                    Đăng Xuất <span class="glyphicon glyphicon-off" >
</li>
            }
        </ul>

    </nav>
    <div class="container body-content">
        <div id="body">
            @RenderBody()
        </div>
        <footer>
            <hr />
            <p>&copy; Phần mềm quản lí gara ô tô - Phầm mềm sử dụng với mục đích học tập </p>
        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }



    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
