@model QuanLyGaraOto.Models.HieuXe

@{
    ViewBag.Title = "Create";
}


<style>


    body {
        margin: 0;
        padding-top: 0vh;
        padding-left: 0vh;
        background: url("/Content/Image/BG-DSxe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: sans-serif
    }


    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.7);
        padding: 10px 40px;
        margin-top: 10vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 80%;
    }


    h3 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        color: #fafc0d;
    }



    table {
        text-align: center;
    }

    .col-md-3 {
        color: white;
    }

    placeholder {
        font-style: italic;
    }
</style>


<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="padding-top:10vh;padding-right:20px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-12"></div>

                <div class="col-md-9 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <Center>
                            <h3>Thêm phụ tùng Mới</h3>
                        </Center>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="form-horizontal" style="padding-left:30px; ">

                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TenHieuXe,"Tên Hiệu", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(model => model.TenHieuXe, new { placeholder = "Tên hiệu xe", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.TenHieuXe)
                                        </div>
                                    </div>



                                    <div class="col-md-offset-5 col-md-10">
                                        <a href="@Url.Action("Index", "HieuXe")" class="btn btn-danger">
                                            Quay lại
                                        </a>
                                        <a href="@Url.Action("Index", "HieuXe")">
                                            <button type="submit" class="btn btn-success">Xác Nhận</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</body>