@model IEnumerable<QuanLyGaraOto.Models.PhuTung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    h2 {
        text-align: center;
    }

    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0);
        padding: 10px 40px;
        margin-top: 5vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }

    .panel-body {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0);
        padding: 10px 40px;
        margin-top: 5vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }

    th, td {
        text-align: center;
    }
</style>
<h2>Quản lý Phụ Tùng</h2>
<br />
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <div>

        <div class="panel panel-default"style="padding-bottom:40px;">
           

                @using (Html.BeginForm("Create", "PhuTungs", FormMethod.Get))
                {
                    <div style="margin-left:2em; margin-bottom:1em; font-weight:bold">
                        <button type="submit" class="btn btn-primary" name="themmoi">THÊM MỚI</button>
                    </div>
                }

            <div class="panel-body">
            <div class="table">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="text-align:center">
                            <th style="width:20%">Tên phụ tùng</th>
                            <th style="width:20%">Số lượng</th>
                            <th style="width:20%">Đơn giá HH</th>
                            <th style="width:10%">Đã Xóa</th>
                            <th style="width:30%">Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr style="text-align:center">
                            <th style="width:20%">Tên phụ tùng</th>
                            <th style="width:20%">Số lượng</th>
                            <th style="width:20%">Đơn giá HH</th>
                            <th style="width:10%">Đã Xóa</th>
                            <th style="width:30%">Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenPhuTung</td>
                                <td>@item.SoLuong</td>
                                <td>@item.DonGiaHienHanh</td>
                                <td>@item.Deleted</td>
                                <td style="text-align:center">
                                    @using (Html.BeginForm())
                                    {
                                        <button class="btn glyphicon glyphicon-info" > @Html.ActionLink("Chi tiết", "Details", new { id = item.IDPhuTung })</button>
                                        <button class="btn" >@Html.ActionLink("Sửa", "Edit", new { id = item.IDPhuTung })</button>
                                        <button class="btn" >@Html.ActionLink("Xóa", "Delete", new { id = item.IDPhuTung })</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhuTung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaHienHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhuTung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaHienHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDPhuTung }) |
                @Html.ActionLink("Details", "Details", new { id=item.IDPhuTung }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IDPhuTung })
            </td>
        </tr>
    }

    </table>*@
