@model IEnumerable<QuanLyGaraOto.Models.PhuTung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý Phụ Tùng</h2>
<br />
<div class="container-fluid">
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Quản lý phụ tùng
        </div>
        <div class="card-body">
            <div class="row">
                <div style="margin-left:2em; margin-bottom:1em; font-weight:bold">
                    @using (Html.BeginForm("Create", "PhuTungs", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary" name="themmoi">THÊM MỚI</button>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr style="text-align:center">
                            <th style="width:10%">Tên phụ tùng</th>
                            <th style="width:10%">Số lượng</th>
                            <th style="width:10%">Đơn giá HH</th>
                            <th style="width:10%">Deleted</th>
                            <th style="width:60%">Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr style="text-align:center">
                            <th style="width:10%">Tên phụ tùng</th>
                            <th style="width:10%">Số lượng</th>
                            <th style="width:10%">Đơn giá HH</th>
                            <th style="width:10%">Deleted</th>
                            <th style="width:60%">Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenPhuTung</td>
                                <td>@item.SoLuong</td>
                                <td>@item.DonGiaHienHanh</td>
                                <td>@item.Deleted</td>
                                <td style="text-align:center">
                                    @using (Html.BeginForm())
                                    {
                                        <button class="btn glyphicon glyphicon-info" style="width:120px;"> @Html.ActionLink("Xem chi tiết", "Details", new { id = item.IDPhuTung })</button>
                                        <button class="btn" style="width:120px;">@Html.ActionLink("Sửa", "Edit", new { id = item.IDPhuTung })</button>
                                        <button class="btn" style="width:120px;">@Html.ActionLink("Xóa", "Delete", new { id = item.IDPhuTung })</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhuTung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaHienHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhuTung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaHienHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDPhuTung }) |
                @Html.ActionLink("Details", "Details", new { id=item.IDPhuTung }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IDPhuTung })
            </td>
        </tr>
    }

    </table>*@
