@model QuanLyGaraOto.Models.PhieuSuaChua

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuSuaChua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuTiepNhan.IDPhieuTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuTiepNhan.IDPhieuTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySuaChua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySuaChua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPhieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
