@model IPagedList<QuanLyGaraOto.Models.PhieuSuaChua>
@using PagedList;
@using PagedList.Mvc;
<style>
    body {
        color: white;
        margin: 0;
        padding-top: 0px;
        padding-right: 40px;
        background: url("/Content/Image/BG-Fix.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: sans-serif
    }

    .panel {
        border: 1px solid #ffffff;
        background: rgba(0,0,0,0.5);
        padding: 10px 40px;
        margin-top: 10vh;
        box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
        width: 99%;
    }

        .panel .panel-heading {
            border: 1px solid #ffffff;
            background: rgba(0,0,0,0.5);
            padding: 10px 40px;
            margin-top: 10vh;
            box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.75);
            color: white;
        }

    h2 {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        color: #fafc0d;
    }

    footer {
        position: unset;
    }

    table {
        text-align: center;
    }


    .tbody {
        background-color: red;
    }

    th {
        text-align: center;
    }
</style>

<body>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-12"> </div>

            <div class="col-md-11 col-sm-9 col-xs-12">
                <div class="panel panel-default">
                    @using (Html.BeginForm("Index", "PhieuSuaChuas", FormMethod.Get))
                    {
                        <div class="form-inline my-2 my-lg-0" style="margin-top:20px">
                            <label>Tìm theo tên: </label>
                            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control mr-sm-2", @placeholder = "Nhập tên chủ xe" })
                            <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Tìm Kiếm" />
                        </div>
                    }
                    <div class="panel-heading" style="margin-top:60px">
                        <div class="row">
                            <h2 class="panel-title pull-left" style="margin-left:10px;">
                                <strong>Phiếu Sửa chữa</strong>
                            </h2>
                            @if (Session["LoaiTaiKhoan"].ToString() == "1")
                            {
                                <a href="@Url.Action("Backup", "Backup")" class="btn btn-success pull-right">Sao Lưu dữ liệu</a>
                            }
                            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">Thêm Phiếu Sửa</button>
                        </div>
                    </div>

                    @*Receive All Database Data From Controller And Display Those Data In Client Side*@

                    @if (Model.Count() != 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="panel-default">
                                <table class="table  table-bordered">
                                    <tbody>
                                        <tr style="background: rgba(0,0,0,1);border-collapse:collapse;padding:0;font-style:un">
                                            <td>
                                                <strong>

                                                    Tên chủ xe : @item.PhieuTiepNhan.Xe.TenChuXe

                                                </strong>
                                            </td>

                                            <td>
                                                <Strong>

                                                    Ngày sửa : @item.NgaySuaChua

                                                </Strong>
                                                @if (Session["LoaiTaiKhoan"].ToString() == "1")
                                                {
                                                    <a href="@Url.Action("DeleteConfirmed", "PhieuSuaChuas", new { id = item.IDPhieu })" class="btn btn-danger pull-right" >Xóa</a>
                                                }
                                            </td>


                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <table class="table table-bordered" style="background: rgba(0,0,0,0.5);">
                                                    <tbody style="background-color:transparent;">
                                                        <tr style="background-color:transparent;">
                                                            <th>Phụ tùng</th>
                                                            <th>Số lượng</th>
                                                            <th>Đơn giá</th>
                                                            <th>Tiền công</th>
                                                            <th>Thành tiền</th>
                                                        </tr>
                                                        @{
                                                            var totalBill = 0;
                                                        }
                                                        @foreach (var chitiet in item.ChiTietPhieuSuas)
                                                        {
                                                            <tr>
                                                                <td>@chitiet.PhuTung.TenPhuTung</td>
                                                                <td>@chitiet.SoLuongBan</td>
                                                                <td>@chitiet.DonGia</td>
                                                                <td>@chitiet.TienCong.LoaiTC</td>
                                                                <td>@chitiet.ThanhTien</td>

                                                            </tr>
                                                            totalBill = totalBill + @Convert.ToInt32(chitiet.ThanhTien) + Convert.ToInt32(chitiet.TienCong.Gia);
                                                        }
                                                    </tbody>
                                                </table>
                                                <span class="pull-right" style="margin-right:100px;"><strong>Total Bill :  </strong> @totalBill</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    }
                    else
                    {
                        <div class="panel-body">
                            <h3 style="color:red;">Empty!</h3>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

</body>

@*Desing Bootdtrap Modal With Order Form*@

<div class="modal fade" id="newOrderModal" style="color:white;background: rgba(0,0,0,0.7);">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content" style="background: rgba(0,0,0,1);">
            <div class="panel panel-default">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal" style="color:white;">&times;</a>
                    <h4>Thêm Phiếu Sửa Chữa </h4>
                </div>
                <form id="NewOrderForm">
                    <div class="modal-body">
                        @*Phieu Sua Chua*@
                        <h5 style="color:#ff6347">Phiếu sửa chữa</h5>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Phiếu tiếp nhận
                                </label>
                                <div class="col-md-4">
                                    @*<input type="text" id="name" name="name" placeholder="Customer Name" class="form-control" />*@
                                    @Html.DropDownList("IDPhieuTN", (SelectList)ViewBag.IDPhieuTN, new { @class = "form-control", id = "idPhieuTN" })
                                </div>
                                <label class="control-label col-md-2">
                                    Ngày tiếp nhận
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="date" name="date" placeholder="Ngày tiếp nhận" class="form-control" />
                                </div>
                            </div>
                        </div>

                        @*Order Details*@
                        <h5 style="margin-top:10px;color:#ff6347">Chi tiết phiếu sửa chữa</h5>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Phụ tùng
                                </label>
                                <div class="col-md-4">
                                    @*<input type="text" id="productName" name="productName" placeholder="Product Name" class="form-control" />*@
                                    @Html.DropDownList("IDPhuTung", (SelectList)ViewBag.IDPhuTung, new { @class = "form-control", id = "IDPhuTung" })
                                </div>
                                <label class="control-label col-md-2">
                                    Đơn giá
                                </label>
                                <div class="col-md-4">
                                    <input type="number" id="DonGia" name="DonGia" placeholder="Giá phụ tùng" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Số lượng
                                </label>
                                <div class="col-md-4">
                                    <input type="number" id="SoLuongBan" name="SoLuongBan" placeholder="Số lượng bán" class="form-control" />
                                </div>
                                <label class="control-label col-md-2">
                                    Nội dung
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="NoiDung" name="NoiDung" placeholder="Nội dung" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Tiền công
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownList("IDTienCong", (SelectList)ViewBag.IDTienCong, new { @class = "form-control", id = "IDTienCong" })
                                </div>
                                <label class="control-label col-md-2">
                                    Giá tiền công
                                </label>
                                <div class="col-md-4">
                                    <input type="text" id="TienCong" name="TienCong" placeholder="Tiền công" class="form-control" readonly />
                                    <br />
                                    <a id="addToList" class="btn btn-primary">Thêm vào danh sách</a>
                                </div>
                                @*<div class="col-md-2 col-lg-offset-4">
                                        <a id="addToList" class="btn btn-primary">Add To List</a>
                                    </div>*@
                            </div>


                            <table id="detailsTable" class="table">
                                <thead>
                                    <tr>
                                        <th style="width:20%">Phụ tùng</th>
                                        <th style="width:20%">Số lượng</th>
                                        <th style="width:15%">Đơn giá</th>
                                        <th style="width:10%">Tiền công</th>
                                        <th style="width:20%">Nội dung</th>
                                        <th style="width:35%">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Quay Lại</button>
                        <button id="saveOrder" type="submit" class="btn btn-success">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    @section scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
        }
        //Khởi tạo giá trị đầu cho input tiền công, sử dụng hard-code do đã set mặc định giá trị cho dropdown nhưng ko hiển thị ????
        $("#TienCong").val('20000')
        $("#date").click(function () {
            $("#date").datepicker({ dateFormat: 'dd/mm/yy' });
        });
        $("#IDTienCong").change(function () {

            var IDTienCong = $("#IDTienCong").val();
            $.ajax({
                type: 'GET',
                data: { IDTienCong: IDTienCong },
                url: '@Url.Action("GetInfoTienCong", "PhieuSuaChuas")',
                success: function (result) {
                    //var info = JSON.parse(result);
                    for (var i = 0; i < result.length; i++) {
                        $("#TienCong").val(result[i].TienCong);
                    }
                }
            });
        });
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#IDPhuTung").val()) == "" || $.trim($("#DonGia").val()) == "" || $.trim($("#SoLuongBan").val()) == "") {
                alert("Vui lòng nhập thông tin chi tiết")
                return;
            }

            var IDPhuTung = $("#IDPhuTung").val(),
                DonGia = $("#DonGia").val(),
                SoLuongBan = $("#SoLuongBan").val(),
                IDTienCong = $("#IDTienCong").val(),
                NoiDung = $("#NoiDung").val(),
                TienCong = $("#TienCong").val(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + IDPhuTung + '</td><td>' + SoLuongBan + '</td><td>' + DonGia + '</td><td>' + IDTienCong + '</td><td>' + NoiDung + '</td><td>' + (parseFloat(DonGia) * parseInt(SoLuongBan) + parseInt(TienCong)) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';

            detailsTableBody.append(productItem);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#IDPhuTung").val('');
            $("#DonGia").val('');
            $("#SoLuongBan").val('');
            $("#IDTienCong").val('');
            $("#NoiDung").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/PhieuSuaChuas/Save",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var chitietphieusuaArr = [];
            chitietphieusuaArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                chitietphieusuaArr.push({
                    IDPhuTung: $(this).find('td:eq(0)').html(),
                    SoLuongBan: $(this).find('td:eq(1)').html(),
                    DonGia: $(this).find('td:eq(2)').html(),
                    IDTienCong: $(this).find('td:eq(3)').html(),
                    NoiDung: $(this).find('td:eq(4)').html(),
                    ThanhTien: $(this).find('td:eq(5)').html()
                });
            });


            var data = JSON.stringify({
                idPhieuTN: $("#idPhieuTN").val(),
                date: $("#date").val(),
                chitietphieusua: chitietphieusuaArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
        $(function () {
            $("#date").datepicker({ dateFormat: 'dd/mm/yy' });
        });
        </script>
    }
