@model QuanLyGaraOto.Models.PhieuTiepNhan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhieuTiepNhan</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.IDBienSo, "IDBienSo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDBienSo", String.Empty)
                @Html.ValidationMessageFor(model => model.IDBienSo)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.NgayTiepNhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTiepNhan)
                @Html.ValidationMessageFor(model => model.NgayTiepNhan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}
<script type="text/javascript">
    $(function () {
        $("#NgayTiepNhan").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
