@model QuanLyGaraOto.Models.PhieuTiepNhan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuTiepNhan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Xe.TenChuXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xe.TenChuXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTiepNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTiepNhan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPhieuTN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
