@model QuanLyGaraOto.Models.PhieuTiepNhan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PhieuTiepNhan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDPhieuTN)

        <div class="form-group">
            @Html.LabelFor(model => model.IDBienSo, "IDBienSo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDBienSo", String.Empty)
                @Html.ValidationMessageFor(model => model.IDBienSo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTiepNhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTiepNhan)
                @Html.ValidationMessageFor(model => model.NgayTiepNhan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
